/* Fil rouge: selecteur, dimensions, couleurs  */
/* Texte */
/* Background */
/* Boxes */
/* Positioning */
/* Flex */
/* Grid */
/* Pseudo classe */
/* Responsive */

@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

@font-face {
  font-family: "font-1";
  src: url(./Nunito-SemiBold.ttf);
}

/*     * {
margin: 0;
padding: 0;
}       */


body {
  font-family: "font-1", serif;
  background-color: rgba(246, 168, 253, 0.349);
  background: url(japan.cg.jpg) no-repeat fixed center/cover;
  height: 200vh;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5rem;
  color: rgb(145, 45, 158);
  text-shadow: 5px 0 0 #b3d4d4;
  text-align: center;
  font-family: "New Tegomin", serif;
}

main {
  background: rgba(173, 105, 168, 0.205);
  width: 85%;
  min-height: 500px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 50px;
  box-shadow:0 2px 12px 5px rgba(36, 52, 124, 0.959);
}

.positioning,
.flexbox,
.grid {
  border: 2px solid rgba(131, 92, 92, 0.61);
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
}
/* positioning */
 h2{
     margin: 0;
  }

#circle {
    height: 60px;
    width: 60px;
    background: rgba(55, 112, 158, 0.329);
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 120px;
    box-shadow: 0 2px 12px 5px rgba(255, 127, 80, 0.507);
    z-index: 1;
}

#rectangle{
  height: 15px;
  width: 100px;
  background: rgba(179, 58, 15, 0.212);  
  padding: 20px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

 /* Flexbox */
 ul {
     display: flex;
     justify-content: space-around;
     padding: 0;
 }
 li {
     list-style-type: none;
     font-size: 0.7rem;
     height: 160px;
     width: 160px;
     background: rgba(12, 223, 223, 0.575);
     /* centrer verticalement */
     display: flex;
     align-items: center;
     justify-content: center;
     
 }

 /* Grid */

 .grid-container {
     display: grid;
     grid-template-columns: 30% 70%;
     padding: 20px;

 }
.img {
    text-align: center ;
}

 form {
   display: grid;  
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-areas:
   "i1 i2"
   "ta ta" 
   "bt bt";
 }
 input,
 textarea {
     margin:5px;
     height: 45px;
     border: 1 px solid rgba(15, 122, 24, 0.521);
     padding: 10px;
     border-radius: 10px;
     font-size: 1.1rem;
     font-family: "font-1";
 }
 #firstname {
     grid-area: i1;
 }
 #suramee {
     grid-area: i2;
 }
 textarea {
     grid-area: ta;
     resize: none;
 }
 input[type="submit"]{
    grid-area: bt;
    cursor: pointer;
    background: rgb(108, 148, 148);
    transition: 0.4s;
  }
  
  input[type="submit"]:hover {
      background: rgb(148, 79, 148);
      color: whitesmoke;
  }


/* Responsive */
@media screen and (max-width: 900px) {
    .grid-container {
    display: block;
    }
}

@media screen and (max-width: 650px) {
  form {  
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-areas:
   "i1"
   "i2"
   "ta" 
   "bt";
 }
}
 
/*           Debug
* {
    border: red solid;
}                */


 .grid-container {
  display: grid;
  grid-template-columns:  30% 30% 30% minmax(500px, 1fr);
  padding: 30px;
  grid-column-gap: 5%;

}
.grid-item {
  background-color: #D4B1D9 ;
  border: 3px solid #4B0082;
  padding: 1px;
  font-size: 16px;
  text-align: left;
}
.text { 
  justify-content: start;
}
h1{
  text-align: center;
  font-size: 45px;
  color: #6D1580  ;
}
h2{
  font-size: 25px ;
  text-align: center;
  font-weight: bolder;

}
p{
  font-size: 25px;  
}
ul{
  justify-content: left;
}
.pages{
    margin: 1em;
    padding: 1px;
    border: 2px solid #4B0082;
    display: block;
    text-decoration: none;
    background-color: #E7CEEA ;
  margin-left: auto ;
  color:#6D1580   ;
}
.hover :hover{
    background-color:#F2A7FC ;

}
 
